body {
    background-image: url("../img/cursos-de-computacion2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.unidades {
  position:absolute;
  background: #d3d3d3;
  color: black;
  padding: 0 1em;
  font-size: 1em;
  border-radius: 0.3em;
  cursor: pointer;
}

.unidades:hover {
  transform: scale(1.2);
}

.usuario-main {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;

}

.caja-register {
    padding: 50px;
    padding-top: 150px;
}

.usuario-main h1 {
  margin-bottom: 20px;
  color: #004085;
}

.usuario-main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.usuario-main input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.usuario-main button {
  background-color: #004085;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.usuario-main button:hover {
  background-color: #005fa3;
}

